<tr><!--make this display:none eventually-->
  <td></td>
  <td colspan="7"><%= sections.count %> secondary sections</td>
  </tr>
  <tr class="sec">
    <td></td>
    <td colspan="7">
      <table>
      <%- sections.each do |s| %>
        <tr<%= " class=#{s.css_classes.join(' ')}" if s.css_classes.any? %>>
          <td><input type="checkbox" title="Select for more info" /></td>
          <td><%= s.desig %></td>
          <td><%= s.instructor %></td>
          <td class="time"><%= s.time %></td>
          <td><%= s.location %></td>
          <td><%= s.fullness %></td>
          <td><%= s.edd? ? '<span class="edd">EDD</span>' : '&nbsp;' %></td>
        </tr>
        <tr class="more">
          <td></td>
          <td colspan="7">
            <table>
            <tr>
              <%- if s.enrollment.present? -%>
              <td>
                As&nbsp;of&nbsp; <%= s.enrollment.as_of %>:
                Seats:<%= s.enrollment.limit %>
              </td>
              <%- end -%>
              <%- if s.infobears_url.present? -%>
              <td><a target="_blank" href="<%= s.infobears_url %>">Current Info</a></td>
              <%- end -%>
              <td>CCN: <%= s.ccn %></td>
            </tr>
            <tr><td colspan="5"><%= s.restrictions %></td></tr>
          </table>
        </td>
      </tr>
    <%- end -%>
    </table>
  </td>
</tr>
